body{
    margin:0;
    font-family: 'Otomanopee One', sans-serif;
}
section{
    height: 500px;
    
}
section img{
    margin: 10% 5%;
    height: 400px;
    width: 80%;
}

p{
    text-align:justify;
    padding-right: 5%;
}

.cover{
    background-image: url(images/bg.jpg);
    background-size: 100%;
}

.half{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 40px;
}
span{
    color: tomato;
}
h3{
    font-size: 30px;
    text-align:center;
}
h4{
    font-size: 30px;
    text-align:left;
}
.half-width img{
    width: 100%;
}

.button{
    text-decoration: none;
    background: linear-gradient(45deg, orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}


.cover2{
    
    width: 100%;
    height: 500px;
}

.third{
    width:24%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    background-color:rgba(255, 99, 71, 0.438);
    border-radius: 4%;
    box-shadow: 5px 10px #888888;

}

footer{
    background-color: rgba(14, 13, 13, 0.699);
    color: white;
    font-size: 30px;
    text-align: center;
    height: 150px;
    padding-top:10px;
    padding-bottom: 20px;
}

#right{
    background-color: rgba(245, 245, 245, 0.63);
    height: 60%;
   
}

.imgC{
    height: 250px;
}

.s4{
    
    width: 80%;
    height: 120px;
    background-color:rgba(255, 255, 0, 0.438);
    margin:10% 10%;
    padding-bottom: 3%;
    border-style: groove;
    border-color: rgba(160, 81, 45, 0.527);
}

.panel{
    width:24%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 4%;
}

h6{
    font-size: 20px;
    text-align: center;
}

#p1{
    text-align: center;
    font-size: 15px;

}
